.nav {
  & button {
    background: none;
    border: 1px solid var(--color-medium-gray);
    padding: 0.25rem;
    transition: background linear 0.1s;

    &:hover {
      background: var(--color-light-gray);
    }

    &[disabled] {
      color: var(--color-medium-gray);
    }
  }

  & button + button {
    border-left: 0;
  }
}
