.profileHeader {
  display: grid;
  grid-template-columns: auto 3fr 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}

.profilePhoto {
  position: relative;
  overflow: hidden;
  border-radius: 5%;
  max-width: 200px;

  & img {
    display: block;
  }

  &:hover .filepond {
    opacity: 1;
  }
}

.filepond {
  cursor: pointer;
  position: absolute;
  left: 2rem;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity linear 0.3s;
}
