@import '../../defaults.css';

.recipe {
  border: 1px solid lightslategray;
  background: rgb(220, 222, 222);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  max-height: 80vh;

  & > div {
    flex: 1;
    padding: 1rem;
    overflow-y: scroll;
  }
}

.recipeMain {
  border-right: 1px solid lightslategray;
}

.recipeDetail {
  & textarea {
    width: 100%;
    height: auto;
  }
}

.ingredients {
  list-style: square;
}

.steps {
  & > li {
    cursor: pointer;
  }
}
