@import '../../defaults.css';

.recipe {
  border: 1px solid lightslategray;
  background: rgb(220, 222, 222);
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;

  & > div {
    flex: 1;
    padding: 1rem;
  }
}

.recipeMain {
  border-right: 1px solid lightslategray;
}

.recipeDetail {
  & textarea {
    width: 100%;
    height: auto;
  }
}

.ingredients {
  list-style: square;
}

.steps {
  & > li {
    cursor: pointer;
  }
}
