html {
  font-size: var(--body-font-size);
  color: var(--body-font-color);
  font-weight: var(--body-font-weight);
  font-family: var(--body-font-family);
  line-height: 1.5em;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-font-color);
  font-family: var(--title-font-family);
  font-weight: var(--title-font-weight);
  line-height: 1.15;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

i {
  vertical-align: middle;
}

button {
  cursor: pointer;
}

textarea {
  width: 100%;
  height: auto;
  line-height: inherit;
  padding: 0.5rem;
  resize: none;
  border: 1px solid var(--color-medium-gray);
  border-radius: var(--border-radius-sm);
}

select,
input {
  background: var(--color-white);
  padding: 0.5rem;
  border: 1px solid var(--color-medium-gray);
  border-radius: var(--border-radius-sm);
}
