:root {
  /* Colors
  --------- */
  --color-light-gray: #f9fafc;
  --color-medium-light-gray: #ebeef3;
  --color-medium-gray: #e1e8ef;
  --color-dark-gray: #b7c2ce;
  --color-black: #262626;
  --color-white: #fff;
  --color-error: red;

  /* Typography
  ------------- */
  --body-font-color: var(--color-black);
  --body-font-family: 'Noto Sans', sans-serif;
  --body-font-weight: 400;
  --body-font-size: 17px;
  --title-font-color: var(--color-black);
  --title-font-family: 'Heebo', sans-serif;
  --title-font-weight: 300;
  --subtitle-font-weight: 100;

  /* Layout
  --------- */
  --layout-width: rem-calc(1200px);
  --border-radius: rem-calc(5px);
  --border-radius-sm: rem-calc(3px);
}

/* Breakpoints
-------------- */
@custom-media --small-viewport screen and (min-width: 600px);
@custom-media --medium-viewport screen and (min-width: 800px);
