.container {
  margin-bottom: 0.25rem;
}

.ingredient {
  background: var(--color-white);
  padding: 0.25rem;
  border: 0.01em solid transparent;
  border-radius: var(--border-radius);
  transition: all ease-out 0.3s;
  outline: 0;
  display: grid;
  grid-template-columns: min-content auto;
  grid-column-gap: 0.25em;
  align-items: center;

  & .dragHandle {
    color: var(--color-medium-gray);
    transition: all linear 0.2s;
  }

  & form {
    display: grid;
    grid-template-columns: auto max-content;
    grid-column-gap: 0.25em;
    align-items: center;
  }

  & input.error {
    border-color: red;
  }

  & fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-column-gap: 0.2rem;

    & input,
    & select {
      min-width: 0;
      padding: 0.15em;
    }

    & select {
      padding: 0;
    }
  }

  & .buttons {
    justify-self: end;
  }

  & .button {
    opacity: 0;
    transition: opacity ease-out 0.3s;
  }

  &:hover,
  &:focus-within,
  &.editing,
  &.dragging {
    border: 0.01rem solid var(--color-medium-gray);
    transition: all ease-out 0.2s;

    & .dragHandle {
      color: var(--color-dark-gray);
      transition: all linear 0.2s;
    }

    & .button {
      opacity: 1;
      transition: opacity ease-out 0.2s;
    }
  }
}

.ingredientText {
  & > span {
    cursor: pointer;
  }

  & > span > * + * {
    margin-left: 0.25em;
  }
}

.error [role="button"] {
  color: red;
}
