.inputContainer {
  display: flex;

  & input {
    width: 100%;
  }
}

.hasError textarea {
  border-color: var(--color-error);
}

.errorIcon {
  color: white;
  background: var(--color-error);
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
}
