:root {
  /* Layout
  --------- */
  --layout-width: rem-calc(1200px);
  --default-border-radius: rem-calc(5px);

  /* Typography
  ------------- */
  --body-font-color: #262626;
  --body-font-family: 'Noto Sans', sans-serif;
  --body-font-weight: 400;
  --heading-font-color: color(var(--body-font-color) lightness(5%));
  --heading-font-family: 'Cormorant Garamond', serif;
  --heading-font-weight: 300;

  /* Colors
  --------- */
  --color-light-gray: #f9fafc;
  --color-medium-light-gray: #ebeef3;
  --color-medium-gray: #e1e8ef;
  --color-dark-gray: #b7c2ce;
  --color-black: #262626;
  --color-white: #fff;
}
