@import '../../config/defaults.css';

.itemWrap {
  margin-bottom: 2rem;
}

.item {
  background: var(--color-white);
  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);
  transition: border linear 0.2s;
  margin-bottom: 1rem;

  & .itemActions {
    opacity: 0;
    transition: all linear 0.2s;
  }

  &.hover:not(.dragging) .itemActions,
  &.editing .itemActions {
    opacity: 1;
  }

  &.hover,
  &.dragging,
  &.editing {
    border: 1px solid var(--color-medium-gray);
  }

  &.hover .dragHandle,
  &.dragging .dragHandle {
    color: var(--color-dark-gray);
  }

  &:not(.editing) .itemName {
    cursor: pointer;
  }
}

.dragHandle {
  font-size: 1.5rem;
  color: var(--color-medium-gray);
  transition: all linear 0.2s;
}

.itemHeaderWrap {
  display: grid;
  grid-template-columns: 1fr 11fr;
  padding: 0.5rem;

  & h3 {
    margin: 0;
  }
}

.itemHeader {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 0.5rem;

  & button {
    border: 1px solid var(--color-medium-gray);
    padding: 0.25rem;
    background: white;

    & + button {
      border-left: 0;
    }
  }
}

.itemActions {
  transition: all linear 0.2s;

  &.dragging,
  &.editing {
    opacity: 0;
    pointer-events: none;
  }
}
