.itemWrap {
  margin-bottom: 2rem;
}

.item {
  background: var(--color-white);
  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);
  transition: border linear 0.2s;
  margin-bottom: 1rem;

  & .itemActions {
    opacity: 0;
    transition: all linear 0.2s;
  }

  &.hover:not(.dragging) .itemActions,
  &.editing .itemActions {
    opacity: 1;
  }

  &.hover,
  &.dragging,
  &.editing {
    border: 1px solid var(--color-medium-gray);
  }

  &.hover .dragHandle,
  &.dragging .dragHandle {
    color: var(--color-dark-gray);
  }
}

.nameInput {
  & input {
    padding: 0.25rem;
    line-height: 1.2em;
  }
}

.itemHeader {
  padding: 0.5rem;

  & form {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    grid-column-gap: 0.5rem;

    & h2 {
      cursor: pointer;
    }
  }

  & h2 {
    margin: 0;
  }
}

.editing .itemHeader form {
  grid-template-columns: auto max-content;
  justify-content: initial;
}

.itemActions {
  transition: all linear 0.2s;

  &.dragging,
  &.editing {
    opacity: 0;
    pointer-events: none;
  }
}
