.ingredients {
  padding: 0;
  list-style: none;

  &.draggingOver {
    pointer-events: none;
  }
}

.listActions {
  margin-bottom: 1rem;
  transition: all linear 0.2s;

  &.editing {
    pointer-events: none;
    filter: blur(0.05em);
    opacity: 0.5;
  }
}
