@import 'normalize.css';
@import '../../config/defaults.css';

html {
  font-size: 1em;
  color: var(--body-font-color);
  font-weight: var(--body-font-weight);
  font-family: var(--body-font-family);
  line-height: 1.5em;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-font-color);
  font-family: var(--heading-font-family);
  letter-spacing: 1px;
  font-weight: var(--heading-font-weight);
}

h6 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

i {
  vertical-align: middle;
}

button {
  cursor: pointer;
}
