.nav {
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-medium-gray);
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.links {
  & a {
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);

    &:hover {
      text-decoration: underline;
    }
  }
}

.logo {
  line-height: 1;

  & img {
    height: 2.5rem;
  }
}
