@import '../../config/defaults.css';

.stepHeader {
  border: 1px solid var(--color-dark-gray);
  padding: 1rem;
  flex: 0 0 auto;
  box-shadow: 0 0.1rem 0.7rem rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;

  &:hover,
  &.editing {
    & .stepActions {
      opacity: 1;
    }
  }

  &:not(.editing) .itemName {
    cursor: pointer;
  }
}

.recipeDetailToolbar {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;

  & h6 {
    margin: 0;
  }
}

.recipeNav {
  float: right;
}

.stepDirections {
  cursor: pointer;
  margin-bottom: 0.5rem;
}
