@import '../../config/defaults.css';

.recipe {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.recipeDetail {
  position: relative;

  & img {
    width: 100%;
  }

  & .sticky {
    position: sticky;
    top: 2rem;
    height: auto;
    max-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

.recipeDetailContent {
  padding: 1rem;
  border: 1px solid lightgray;
  border-top: 0;
  overflow-y: scroll;
  flex: 0 1 auto;
}
