.recipe {
  margin-bottom: 2rem;
}

.recipe.placeholder {
  & > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }

  & ul {
    list-style-type: none;
    padding: 0;
  }
}

.ingredientTotals {
  margin-bottom: 2rem;
  padding: 2rem;
  background: var(--color-light-gray);
  border-radius: var(--border-radius-sm);

  & > div:first-child > *:first-child {
    margin-top: 0;
  }

  & > div:last-child > *:last-child {
    margin-bottom: 0;
  }
}

.ingredientTotals.placeholder {
  & ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    padding: 0;
  }
}
