@import '../../config/defaults.css';

.recipe {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.recipeDetail {
  position: relative;

  & img {
    width: 100%;
  }

  & textarea {
    width: 100%;
    height: auto;
    line-height: inherit;
    padding: 0.5rem;
    resize: none;
  }

  & .sticky {
    position: sticky;
    top: 2rem;
    height: auto;
    max-height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}

.recipeDetailToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.recipeDetailHeader {
  border: 1px solid lightgrey;
  padding: 1rem;
  flex: 0 0 auto;
  box-shadow: 0 0.1rem 0.7rem rgba(0, 0, 0, 0.15);

  & h6,
  & p {
    margin: 0;
  }
}

.recipeActions {
  float: right;

  & button {
    background: none;
    border: 1px solid lightgray;
    padding: 0.25rem;
    transition: background linear 0.1s;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }

    &[disabled] {
      opacity: 0.5;
    }
  }
}

.recipeDetailContent {
  padding: 1rem;
  border: 1px solid lightgray;
  border-top: 0;
  overflow-y: scroll;
  flex: 0 1 auto;
}
