.ingredient {
  background: var(--color-white);
  padding: 0.5em;
  border: 0.01em solid transparent;
  border-radius: var(--default-border-radius);
  cursor: pointer;
  transition: all ease-out 0.3s;
  outline: 0;

  & form {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 0.5em;
    align-items: center;
  }

  & input.error {
    border-color: red;
  }

  & fieldset {
    border: 0;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-column-gap: 0.5rem;

    & input,
    & select {
      min-width: 0;
      padding: 0.25em;
      border: 1px solid var(--color-medium-gray);
    }

    & select {
      padding: 0;
    }
  }

  & .buttons {
    justify-self: end;
  }

  & .button {
    opacity: 0;
    transition: opacity ease-out 0.3s;
  }

  &[data-editing='false']:hover,
  &[data-editing='false']:focus,
  &[data-editing='false']:focus-within,
  &[data-editing='true'] {
    border: 0.01rem solid var(--color-medium-gray);
    transition: all ease-out 0.2s;
    z-index: 1;

    & .button {
      opacity: 1;
      transition: opacity ease-out 0.2s;
    }
  }

  &[data-editing='false']:hover,
  &[data-editing='true'] {
    box-shadow: 0 0.25rem 0.25rem -0.25rem rgba(0, 0, 0, 0.15);
    transform: translateY(-0.09em);
  }
}
