@import '../../config/defaults.css';

.ingredient {
  background: var(--color-white);
  padding: 0.5em;
  border: 0.01em solid transparent;
  border-radius: var(--default-border-radius);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease-out 0.3s;

  & > div,
  & > fieldset {
    flex-grow: 1;
  }

  & > fieldset {
    border: none;
    padding: 0;
    margin: 0;
    padding-right: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    grid-column-gap: 0.5rem;

    & input,
    & select {
      min-width: 0;
    }
  }

  & .ingredientText {
    & > * + * {
      margin-left: 0.25em;
    }

    & .separator {
      margin: 0;
    }
  }

  & > button {
    flex-shrink: 1;
    background: none;
    border: 1px solid var(--color-medium-gray);
    padding: 0.25rem;
    opacity: 0;
    transition: opacity ease-out 0.3s;
  }

  &[data-editing='false']:hover,
  &[data-editing='true'] {
    border: 0.01rem solid var(--color-medium-gray);
    box-shadow: 0 0.25rem 0.25rem -0.25rem rgba(0, 0, 0, 0.15);
    transition: all ease-out 0.3s;
    transform: translateY(-0.09em);
    z-index: 1;

    & > button {
      opacity: 1;
      transition: opacity ease-out 0.3s;
    }
  }
}
