.tooltip {
  position: relative;

  &:hover,
  &:focus {
    & [role='tooltip'] {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s linear;
    }
  }

  & [role='button'] {
    cursor: help;
  }

  & [role='tooltip'] {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, calc(-100% - 10px));
    display: flex;
    justify-content: center;
    width: 300px;
    opacity: 0;
    transition: visibility 0s linear 0.2s, opacity 0.2s linear;
    pointer-events: none;
    font-size: 1rem;
    font-family: var(--body-font-family);
    letter-spacing: initial;
  }

  & [role='tooltip']::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: var(--color-error) transparent transparent transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
  }

  & [role='tooltip'] > div {
    max-width: 300px;
    background: var(--color-error);
    color: var(--color-white);
    padding: 1rem;
    border-radius: var(--border-radius-sm);
  }
}
