@import 'normalize.css';
@import '../../defaults.css';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300|Noto+Sans:400,400i,700');

html {
  font-size: 1em;
  color: var(--body-font-color);
  font-weight: var(--body-font-weight);
  font-family: var(--body-font-family);
  line-height: 1.5em;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-font-color);
  font-family: var(--heading-font-family);
  letter-spacing: 1px;
  font-weight: var(--heading-font-weight);
}
