.container {
  margin-bottom: 0.25rem;
}

.step {
  display: grid;
  grid-template-columns: 1fr 11fr;
  transition: background linear 0.2s;
  padding: 0.5rem;
  border-radius: var(--border-radius-sm);
  background: var(--color-white);
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  transition: all linear 0.2s;

  &.active {
    background: var(--color-highlight);
    border: 1px solid var(--color-highlight);
  }

  &:hover,
  &.editing,
  &.dragging {
    border: 1px solid var(--color-medium-gray);

    & .stepActions {
      opacity: 1;
    }
  }

  &.dragging .stepActions {
    opacity: 0;
  }

  & .stepNum {
    font-weight: 100;
    cursor: grab;

    & span::after {
      content: '';
      display: inline-block;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: black;
      height: 0.75em;
      width: 0.75em;
      transform: rotate(45deg) translateY(-0.05em);
      vertical-align: middle;
    }
  }

  & .stepDirections {
    cursor: pointer;
  }
}

.stepActions {
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all linear 0.2s;

  & .button {
    border-bottom: 0;

    & + .button {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }
}
