.container {
  margin-bottom: 0.25rem;
}

.step {
  padding: 0.5rem;
  border-radius: var(--border-radius-sm);
  background: var(--color-white);
  position: relative;
  border: 1px solid transparent;
  transition: all linear 0.2s;

  & .buttons {
    opacity: 0;
    transition: opacity ease-out 0.3s;
  }

  &.hover .buttons,
  &.editing .buttons,
  &.dragging .buttons {
    opacity: 1;
    transition: opacity ease-in 0.3s;
  }

  &.hover,
  &.editing,
  &.dragging {
    border: 1px solid var(--color-medium-gray);
  }
}

.stepNum {
  text-transform: uppercase;
  display: grid;
  grid-template-columns: auto max-content;
}

.stepDirections {
  padding-top: 0.15rem;
  line-height: 2.5;
}

.directions {
  & p {
    cursor: pointer;
    margin: 0;
  }
}

.stepShortcuts {
  position: absolute;
  bottom: 0;
  right: 0;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all linear 0.2s;

  & .button {
    border-bottom: 0;

    &:last-child {
      border-right: 0;
    }
  }
}

.error {
  color: var(--color-error);
}

@media (--medium-viewport) {
  .stepContents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    align-items: flex-start;
  }

  .directions {
    order: 0;
  }

  .ingredients {
    order: 1;
  }

  .stepActions {
    order: 2;
  }

  .ingredientActions {
    order: 3;
  }
}
