@import '../../config/defaults.css';

.step {
  display: grid;
  grid-template-columns: 1fr 11fr;
  margin-bottom: 0.5rem;
  transition: background linear 0.2s;
  padding: 0.5rem;
  border-radius: var(--border-radius-sm);

  &[data-active='true'] {
    background: var(--color-highlight);
  }

  & .stepNum {
    font-weight: 100;
    cursor: grab;

    & span::after {
      content: '';
      display: inline-block;
      border-width: 1px 1px 0 0;
      border-style: solid;
      border-color: black;
      height: 0.75em;
      width: 0.75em;
      transform: rotate(45deg) translateY(-0.05em);
      vertical-align: middle;
    }
  }

  & .stepDirections {
    cursor: pointer;
  }
}
